body:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-image: linear-gradient( 135deg, #92FFC0 0%, #002661 100%);
    background-position: 0% 0%, center;
    background-repeat: repeat, repeat;
    background-size: cover, 29rem;
    background-attachment: scroll;
    background-color: #FFFFFF;
}

body:after {
    display: block;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F354A;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 1.25s ease-in-out 0s, visibility 1.25s 0s;
    -webkit-transition: opacity 1.25s ease-in-out 0s, visibility 1.25s 0s;
    -ms-transition: opacity 1.25s ease-in-out 0s, visibility 1.25s 0s;
    transition: opacity 1.25s ease-in-out 0s, visibility 1.25s 0s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

body.is-loading:after {
    opacity: 1;
    visibility: visible;
}

#banner {
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: #645862;
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
    cursor: default;
    padding: 6em 0;
    text-align: center;
}

#banner .inner {
    -moz-animation: reveal-banner 1s 0.25s ease-in-out;
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
    -ms-animation: reveal-banner 1s 0.25s ease-in-out;
    animation: reveal-banner 1s 0.25s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: rgba(52, 27, 43, 0.5);
    color: #fff;
    display: inline-block;
    opacity: 0;
    padding: 3em;
    text-align: center;
}
